@model MVC5Practice.Models.Home.MT103Format

@{
    ViewBag.Title = "AorPage1";
}
<script type="text/javascript">

    function F50_changed() {
        var F50_ddl = $("#F50_ddl").val();
        switch (F50_ddl) {
            case "Option A":
                $("#div_F50a_Account").show();
                $("#div_F50a_IdentifierCode").show();
                $("#div_F50a_PartyIdentifier").hide();
                $("#div_F50a_Name").hide();
                $("#div_F50a_Address").hide();
                break;
            case "Option F":
                $("#div_F50a_Account").hide();
                $("#div_F50a_IdentifierCode").hide();
                $("#div_F50a_PartyIdentifier").show();
                $("#div_F50a_Name").show();
                $("#div_F50a_Address").show();
                break;
            case "Option K":
                $("#div_F50a_Account").show();
                $("#div_F50a_IdentifierCode").hide();
                $("#div_F50a_PartyIdentifier").hide();
                $("#div_F50a_Name").show();
                $("#div_F50a_Address").show();
                break;
        }
    }
    function F52_changed() {
        var F52_ddl = $("#F52_ddl").val();
        switch (F52_ddl) {
            case "Option A":
                $("#div_F52a_PartyIdentifier").show();
                $("#div_F52a_IdentifierCode").show();
                $("#div_F52a_Name").hide();
                $("#div_F52a_Address").hide();
                break;
            case "Option D":
                $("#div_F52a_PartyIdentifier").show();
                $("#div_F52a_IdentifierCode").hide();                
                $("#div_F52a_Name").show();
                $("#div_F52a_Address").show();
                break;
        }
    }
    function F53_changed() {
        var F53_ddl = $("#F53_ddl").val();
        switch (F53_ddl) {
            case "Option A":
                $("#div_F53a_PartyIdentifier").show();
                $("#div_F53a_IdentifierCode").show();
                $("#div_F53a_Location").hide();
                $("#div_F53a_Name").hide();
                $("#div_F53a_Address").hide();
                break;
            case "Option B":
                $("#div_F53a_PartyIdentifier").show();
                $("#div_F53a_IdentifierCode").hide();
                $("#div_F53a_Location").show();
                $("#div_F53a_Name").hide();
                $("#div_F53a_Address").hide();
                break;
            case "Option D":
                $("#div_F53a_PartyIdentifier").show();
                $("#div_F53a_IdentifierCode").hide();
                $("#div_F53a_Location").hide();
                $("#div_F53a_Name").show();
                $("#div_F53a_Address").show();
                break;
        }
    }
    function F54_changed() {
        var F54_ddl = $("#F54_ddl").val();
        switch (F54_ddl) {
            case "Option A":
                $("#div_F54a_PartyIdentifier").show();
                $("#div_F54a_IdentifierCode").show();
                $("#div_F54a_Location").hide();
                $("#div_F54a_Name").hide();
                $("#div_F54a_Address").hide();
                break;
            case "Option B":
                $("#div_F54a_PartyIdentifier").show();
                $("#div_F54a_IdentifierCode").hide();
                $("#div_F54a_Location").show();
                $("#div_F54a_Name").hide();
                $("#div_F54a_Address").hide();
                break;
            case "Option D":
                $("#div_F54a_PartyIdentifier").show();
                $("#div_F54a_IdentifierCode").hide();
                $("#div_F54a_Location").hide();
                $("#div_F54a_Name").show();
                $("#div_F54a_Address").show();
                break;
        }
    }
    function mandatoryonly_changed(e) {
        var checked = $(e).is(":checked");

        if (checked == true) {
            $("#div_F20_M").show();
            $("#div_F13C_O").hide();
            $("#div_F23B_M").show();
            $("#div_F23E_O").hide();
            $("#div_F32A_M").show();
            $("#div_F33B_O").hide();
            $("#div_F36_O").hide();
            $("#panel_F50a_M").show();
            $("#div_F51A_O").hide();
            $("#panel_F52a_O").hide();
            $("#panel_F53a_O").hide();
            $("#panel_F54a_O").hide();
        } else {
            $("#div_F20_M").show();
            $("#div_F13C_O").show();
            $("#div_F23B_M").show();
            $("#div_F23E_O").show();
            $("#div_F32A_M").show();
            $("#div_F33B_O").show();
            $("#div_F36_O").show();
            $("#panel_F50a_M").show();
            $("#div_F51A_O").show();
            $("#panel_F52a_O").show();
            $("#panel_F53a_O").show();
            $("#panel_F54a_O").show();
        }
    }



</script>
<h2>匯出匯款申請書 Application for outward remittance</h2>

@using (Html.BeginForm("AorPage1", "Home", FormMethod.Post, new { @class = "form-signin", @id = "AorPage1" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="cb_mandatoryonly" onclick="mandatoryonly_changed(($(this)))">
            <label class="form-check-label" for="exampleCheck1" style="font-size:medium; font-weight:bold;">Mandatory Fields Only</label>
        </div>
        <br />
        @*-----F20-----*@
        <div class="form-group" id="div_F20_M">
            <label class="control-label col-md-2">F20 Sender's Reference</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.F20, new
                {
                    @class = "form-control",
                    @id = "F20"
           })
            </div>
        </div>
        @*-----F13C-----*@
        <div class="form-group" id="div_F13C_O">
            <label class="control-label col-md-2">F13C Time Indication</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.F13C, new
                {
                    @class = "form-control",
                    @id = "F13C"
           })
            </div>
        </div>
        @*-----F23B-----*@
        <div class="form-group" id="div_F23B_M">
            <label class="control-label col-md-2">F23B Bank Operation Code</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.F23B, new
                {
                    @class = "form-control",
                    @id = "F23B"
           })
            </div>
        </div>
        @*-----F23E-----*@
        <div class="form-group" id="div_F23E_O">
            <label class="control-label col-md-2">F23E Instruction Code</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.F23E, new
                {
                    @class = "form-control",
                    @id = "F23E"
           })
            </div>
        </div>
        @*-----F26T-----*@
        <div class="form-group" id="div_F26T_O">
            <label class="control-label col-md-2">F26T Transaction Type Code</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.F26T, new
                {
                    @class = "form-control",
                    @id = "F26T"
           })
            </div>
        </div>
        @*-----F32A-----*@
        <div class="form-group" id="div_F32A_M">
            <label class="control-label col-md-2">F32A Value Date/Currency/Interbank Settled Amount</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.F32A, new
                {
                    @class = "form-control",
                    @id = "F32A"
           })
            </div>
        </div>
        @*-----F33B-----*@
        <div class="form-group" id="div_F33B_O">
            <label class="control-label col-md-2">F33B Currency/Instructed Amount</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.F33B, new
                {
                    @class = "form-control",
                    @id = "F33B"
           })
            </div>
        </div>
        @*-----F36-----*@
        <div class="form-group" id="div_F36_O">
            <label class="control-label col-md-2">F36 Exchange Rate</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.F36, new
                {
                    @class = "form-control",
                    @id = "F36"
           })
            </div>
        </div>
        @*-----F50a-----*@
        <div class="panel panel-primary" id="panel_F50a_M">
            <div class="panel-heading">
                <p>F50a Ordering Customer</p>
                @Html.DropDownListFor(m => m.F50A, (IEnumerable<SelectListItem>)ViewBag.SelectF50, new { @class = "form-control", @id = "F50_ddl", onchange = "F50_changed()" })
            </div>

            <br />
            <div class="form-group" id="div_F50a_Account">
                <label class="control-label col-md-2">Account</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="F50a_Account" style="resize: none;"></textarea>
                </div>
            </div>
            <div class="form-group" id="div_F50a_IdentifierCode">
                <label class="control-label col-md-2">Identifier Code</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="F50a_IdentifierCode" style="resize: none;"></textarea>

                </div>
            </div>
            <div class="form-group" id="div_F50a_PartyIdentifier" style="display:none;">
                <label class="control-label col-md-2">Party Identifier</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="F50a_PartyIdentifier" style="resize: none;"></textarea>
                </div>
            </div>
            <div class="form-group" id="div_F50a_Name" style="display:none;">
                <label class="control-label col-md-2">Name</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="F50a_Name" style="resize: none;"></textarea>
                </div>
            </div>
            <div class="form-group" id="div_F50a_Address" style="display:none;">
                <label class="control-label col-md-2">Address</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="F50a_Address" style="resize: none;"></textarea>
                </div>
            </div>
        </div>
        @*-----F51A-----*@
        <div class="form-group" id="div_F51A_O">
            <label class="control-label col-md-2">F51A Sending Institution</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.F51A, new
                {
                    @class = "form-control",
                    @id = "F51A"
           })
            </div>
        </div>
        @*-----F52a-----*@
        <div class="panel panel-primary" id="panel_F52a_O">
            <div class="panel-heading">
                <p>F52a Ordering Institution</p>
                @Html.DropDownListFor(m => m.F50A, (IEnumerable<SelectListItem>)ViewBag.SelectF52, new { @class = "form-control", @id = "F52_ddl", onchange = "F52_changed()" })
            </div>

            <br />
            <div class="form-group" id="div_F52a_PartyIdentifier">
                <label class="control-label col-md-2">Party Identifier</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="F52a_PartyIdentifier" style="resize: none;"></textarea>
                </div>
            </div>
            <div class="form-group" id="div_F52a_IdentifierCode">
                <label class="control-label col-md-2">Identifier Code</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="F52a_IdentifierCode" style="resize: none;"></textarea>

                </div>
            </div>            
            <div class="form-group" id="div_F52a_Name" style="display:none;">
                <label class="control-label col-md-2">Name</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="F52a_Name" style="resize: none;"></textarea>
                </div>
            </div>
            <div class="form-group" id="div_F52a_Address" style="display:none;">
                <label class="control-label col-md-2">Address</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="F52a_Address" style="resize: none;"></textarea>
                </div>
            </div>            
        </div>
        @*-----F53a-----*@
        <div class="panel panel-primary" id="panel_F53a_O">
            <div class="panel-heading">
                <p>F53a Sender's Correspondent</p>
                @Html.DropDownListFor(m => m.F50A, (IEnumerable<SelectListItem>)ViewBag.SelectF53, new { @class = "form-control", @id = "F53_ddl", onchange = "F53_changed()" })
            </div>
            <br />

            <div class="form-group" id="div_F53a_PartyIdentifier">
                <label class="control-label col-md-2">Party Identifier</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="F53a_PartyIdentifier" style="resize: none;"></textarea>
                </div>
            </div>
            <div class="form-group" id="div_F53a_IdentifierCode">
                <label class="control-label col-md-2">Identifier Code</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="F53a_IdentifierCode" style="resize: none;"></textarea>

                </div>
            </div>
            <div class="form-group" id="div_F53a_Location" style="display:none;">
                <label class="control-label col-md-2">Location</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="F53a_Location" style="resize: none;"></textarea>

                </div>
            </div>
            <div class="form-group" id="div_F53a_Name" style="display:none;">
                <label class="control-label col-md-2">Name</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="F53a_Name" style="resize: none;"></textarea>
                </div>
            </div>
            <div class="form-group" id="div_F53a_Address" style="display:none;">
                <label class="control-label col-md-2">Address</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="F53a_Address" style="resize: none;"></textarea>
                </div>
            </div>  
            
        </div>
        @*-----F54a-----*@
        <div class="panel panel-primary" id="panel_F54a_O">
            <div class="panel-heading">
                <p>F54a Receiver's Correspondent</p>
                @Html.DropDownListFor(m => m.F50A, (IEnumerable<SelectListItem>)ViewBag.SelectF54, new { @class = "form-control", @id = "F54_ddl", onchange = "F54_changed()" })
            </div>

            <br />
            <div class="form-group" id="div_F54a_PartyIdentifier">
                <label class="control-label col-md-2">Party Identifier</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="F54a_PartyIdentifier" style="resize: none;"></textarea>
                </div>
            </div>
            <div class="form-group" id="div_F54a_IdentifierCode">
                <label class="control-label col-md-2">Identifier Code</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="F54a_IdentifierCode" style="resize: none;"></textarea>

                </div>
            </div>
            <div class="form-group" id="div_F54a_Location" style="display:none;">
                <label class="control-label col-md-2">Location</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="F54a_Location" style="resize: none;"></textarea>

                </div>
            </div>
            <div class="form-group" id="div_F54a_Name" style="display:none;">
                <label class="control-label col-md-2">Name</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="F54a_Name" style="resize: none;"></textarea>
                </div>
            </div>
            <div class="form-group" id="div_F54a_Address" style="display:none;">
                <label class="control-label col-md-2">Address</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="F54a_Address" style="resize: none;"></textarea>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-default">資料提交</button>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}